<h1>Editing Familymember</h1>

<%= render 'form', familymember: @familymember %>
<br>
<%= link_to 'Show', @familymember, class:"btn btn-info" %>
<%= link_to 'Back', familymembers_path, class:"btn btn-success" %>
